@model AdministratorProfileViewModel
@using PlayPal.Common.StringFormats

<link href="~/css/profile.css" rel="stylesheet" />

@{
    TempData["Title"] = "Profile";
}

<div class="text-center mt-5">
    <h2>
        @TempData["Title"]
    </h2>
</div>
<br />

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Cristiano_Ronaldo_2018.jpg/330px-Cristiano_Ronaldo_2018.jpg" height="100" width="100" />
            </button>
            <span class="name mt-3" style="color:black">@Model.FirstName @Model.LastName</span> 
             <div class=" d-flex mt-2">
                <button type="" class="btn1 btn-dark" asp-area="Administration" asp-controller="Administrator" asp-action="EditProfile" onclick="location.href='@Url.Action("EditProfile", "Administrator", "Administration")'">Edit Profile</button>
            </div>
        </div>
    </div>
</div>
