@model CreatePlayerInputModel

@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <form method="post">
            <input asp-for="Id" type="hidden" value=@Model.Id />
            <input asp-for="Positions" type="hidden" value=@Model.Positions/>
            <div class="form-group">
                <label asp-for=Email class="form-label mt-4">Email address</label>
                <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <span asp-validation-for="Email" class="text-danger"></span>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="form-label mt-4">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-label mt-4">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
            <label asp-for="Name" class="form-label mt-4">Name</label>
            <input asp-for="Name" class="form-control"  placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
            <label asp-for="City" class="form-label mt-4">City</label>
            <input asp-for="City" class="form-control"  placeholder="City">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Position" class="form-label mt-4">Select position</label>
                <select asp-for="Position" class="form-select" id="exampleSelect1">
                    @foreach (var ps in Model.Positions)
                    {
                        <option value="@ps.Position">@ps.Position</option>
                    }
                </select>
            </div>
            <br />
            <button asp-controller="Account" asp-action="RegisterAsPlayer" type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
