@model RegisterUserInputModel

@{
    TempData["Title"] = "Register";
}

<div class="text-center">
    <h1>
        @TempData["Title"]
    </h1>
    <h5>
        Start your journey in the PlayPal community
    </h5>
</div>

<div class="row">
    <div class="col-md-6">
        <h5>
            Already have an account?
        </h5>
        <a asp-controller="Home" asp-action="Index" class="btn btn-success mt-2" style="width:80%">Log in</a>
    </div>
    <div class="col-md-6">
        <form method="post" asp-controller="Account" asp-action="RegisterAsPlayer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" value=@Model.Id />
            <div class="form-group">
                <label asp-for=Email class="form-label mt-4">Email address</label>
                <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <span asp-validation-for="Email" class="text-danger"></span>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="form-label mt-4">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-label mt-4">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button asp-controller="Account" asp-action="RegisterAsPlayer" type="submit" class="btn btn-success mt-2" style="width:100%">Proceed registration as Player</button>
            <button asp-controller="Account" asp-action="ApplyForAdministrator" type="submit" class="btn btn-warning mt-2" style="width:100%">Proceed registration as Administrator</button>
            <button asp-controller="Account" asp-action="RegisterAsFieldOwner" type="submit" class="btn btn-info mt-2" style="width:100%">Proceed registration as Field Manager</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
