@using PlayPal.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlayPal</title>
    <link rel="stylesheet" href="~/css/CyborgBootswatchTeme/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/CyborgBootswatchTeme/_bootswatch.css" />
    <link rel="stylesheet" href="~/css/CyborgBootswatchTeme/_variables.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlayPal.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true" />


</head>
<body>
    <header >
        <partial name="_NotificationsPartial" />
        <nav class="navbar navbar-expand-lg bg-transparent" data-bs-theme="dark">
            <div class="container-fluid" >
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">PlayPal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02" style="font-size:large">

                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Game" asp-action="JoinGame">
                                Join game
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Game" asp-action="CreateGame">Create game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Game" asp-action="MyGames">My Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Game" asp-action="History">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">About</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <hr />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:darkorange;">
        <div class="container" style="color:white">
            &copy; @ApplicationConstants.YearOfRelease
            @if (DateTime.UtcNow.Year>ApplicationConstants.YearOfRelease)
            {
                <a>-@DateTime.UtcNow.Year</a>
            }
             - PlayPal
        </div>
    </footer>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
   
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
