@using Microsoft.AspNetCore.Identity
@using PlayPal.Data.Models;
@inject SignInManager<PlayPalUser> SignInManager
@inject UserManager<PlayPalUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item align-items-center">
            <a class="nav-link active" asp-area="FieldManagment" asp-controller="FieldOwner" asp-action="ViewProfile" title="Manage">
                Hello
                @if (User.Claims.Any(c => c.Type == "Name"))
                {
                    @User.Claims.First(c =>c.Type  == "Name").Value
                }
                else
                {
                    @User.Identity!.Name
                }
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
